In [1]:
import os
import pandas as pd

In [3]:
data_path = r"F:\collection_spb_info\ZK\BC\bc_chemical_info3.xlsx"
point_path = r"F:\collection_spb_info\GJ\DY\base_info_1159.xlsx"

In [4]:
df_data = pd.read_excel(data_path)
df_point = pd.read_excel(point_path)

In [6]:
df_data.columns

Index(['id', 'sysdm', 'sysmc', 'pch', 'ypbh', 'ydbh', 'sjdm', 'shjdm', 'xjdm',
       'sysbh',
       ...
       'errorSjColumn', 'xjshjg', 'sjshjg', 'sjzjId', 'sjzjmc', 'progress',
       'xjthcs', 'sjthcs', 'ydlb', 'gjcjJcrId'],
      dtype='object', length=160)

In [7]:
df_point.columns

Index(['ctime', 'utime', 'id', 'bsm', 'ysdm', 'ydbh', 'ydlb', 'zldwdm',
       'zldwmc', 'xzdm', 'xzmc', 'bsjd', 'bswd', 'hbgd', 'cyjd', 'cywd',
       'dwjd', 'dwwd', 'dwgc', 'sjdm', 'shjdm', 'xjdm', 'zjdm', 'sfxz', 'xzjl',
       'xzyy', 'xzyyms', 'zt', 'ztfx', 'dczt', 'tdlylx', 'ddx', 'pd', 'tl',
       'yl', 'ts', 'tz', 'sfsty', 'sfstypxy', 'sfyjd', 'sfyswygyd', 'sfjxzcyd',
       'sfmqyd', 'sfzdbb', 'sftzy', 'sfgjswy', 'sfsjswy', 'sfdbnpyd', 'dbnpmc',
       'dbnplb', 'sfttcpyd', 'ttcpmc', 'ttcpbczb', 'ttcpydly', 'yjddq', 'cylx',
       'yhId', 'yhMc', 'cydId', 'cydMc', 'zbzxId', 'zljcGjcy', 'zljcSjcy',
       'xcjcGjcy', 'xcjcSjcy', 'dcsj', 'dcdw', 'dcz', 'tjsj', 'xjshr',
       'xjshyj', 'xjshsj', 'xjshjg', 'sjshrId', 'sjshr', 'sjshyj', 'sjshsj',
       'sjshjg', 'gjjshrId', 'gjjshr', 'gjjshyj', 'gjjshsj', 'bz', 'sfspsdx',
       'sfqmpk', 'gjlycjCy', 'zdbbzt', 'appVersion', 'sfwryxcyd', 'sfwrxcyd2',
       'sfgd'],
      dtype='object')

In [12]:
df_result = pd.merge(df_point,df_data,how='inner',on='ydbh')

In [13]:
df_result

,ctime,utime,id_x,bsm,ysdm,ydbh,ydlb_x,zldwdm,zldwmc,xzdm,...,errorSjColumn,xjshjg_y,sjshjg_y,sjzjId,sjzjmc,progress,xjthcs,sjthcs,ydlb_y,gjcjJcrId
0,2023-09-13 17:54:11,2024-03-16 14:20:06,9cd0962f-5180-47e0-905c-80fcefd8efd4,NaN,NaN,5227010101000001,0,522701107210,甲壤村,522701107.0,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
1,2023-09-13 17:54:11,2024-03-14 19:14:13,22345d7b-83c2-46c6-922f-2df1dd3bb7ed,NaN,NaN,5227010101000006,0,522701110206,坪阳村,522701110.0,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
2,2023-09-13 17:54:11,2024-03-14 19:16:43,18e8a2e9-7551-4360-bac9-bf1e2d04ea33,NaN,NaN,5227010101000008,0,522701111213,明英村,522701111.0,...,"jhxg,qlin",NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
3,2023-09-13 17:54:11,2024-03-14 19:17:50,94d4f204-df32-4f69-8696-43f18741b74b,NaN,NaN,5227010101000011,0,522701004218,苗拱村,522701004.0,...,"jhxg,jhxn",NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
4,2023-09-13 17:54:11,2024-03-14 19:18:38,bdcc22e9-ca53-4528-9400-a1c3280cd7b6,NaN,NaN,5227010101000013,0,522701006202,邦水村,522701006.0,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,2023-09-13 17:54:11,2024-04-18 10:29:33,b5d3d9bd-405b-4307-87db-55992d60fe7a,NaN,NaN,5227010404000743,0,522701106215,河源村,522701106.0,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
1157,2023-09-13 17:54:11,2024-04-18 10:29:40,ec636b86-bf14-4663-87a0-51de6006c186,NaN,NaN,5227010404000850,0,522701107202,平坝村,522701107.0,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
1158,2023-09-13 17:54:11,2024-04-18 10:29:47,034d1da7-583f-44a2-958e-e519905f297c,NaN,NaN,5227010404000927,0,522701111209,坝固村,522701111.0,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
1159,2023-09-13 17:54:11,2024-04-18 10:29:56,a88d7c81-2123-4bd1-8023-af5fa540af77,NaN,NaN,5227010404001083,0,522701004202,王家司村,522701004.0,...,"qlin,yxlin",NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
1160,2023-09-13 17:54:11,2024-04-18 10:30:05,51f99643-19c0-49b7-8cd9-c5a851f660b1,NaN,NaN,5227010404001085,0,522701006207,都匀市自然保护区,522701006.0,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN

In [16]:
df_result['ydbh'] = df_result['ydbh'].astype(str) 
df_result.to_excel(r"C:\Users\Runker\Desktop\dy_result.xlsx",index=False)